.ant-layout-header {
  height: 44px;
  padding: 0 30px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 44px;
  box-shadow: 0 2px 4px rgb(18 52 77 / 6%);
  background: white;
  z-index: 810;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-layout-sider {
  position: relative;
  transition: all 0.2s;
  height: calc(100vh - 44px);
  background: white;
  width: 350px !important;
  min-width: 350px !important;
  max-width: 350px !important;
  flex: 0 0 350px !important;
}

.ant-layout-content {
  width: calc(100vh - 350px);
  padding: 10px;
  display: flex;
}

.messageContent {
  width: 100%;
  height: 100%;
}

.messageInfo {
  width: 70%;
  height: 100%;
  background: white;
  border-radius: 8px;
  border: 1px solid #ebeffe;
}
.messageHeight {
  height: calc(100% - 62px);
  display: flex;
}
.contentMsg {
  padding: 30px;
}
.feedbackMsg {
  font-size: large;
  padding: 30px;
  border: solid 1px rgba(9,30,66,.12);
  border-radius: 8px;
}
.selectCategory {
  height: 62px;
  padding: 8px;
  border-bottom: solid 1px rgba(9,30,66,.12);
  box-shadow: 0 2px 4px rgb(18 52 77 / 6%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedbacks {
  height: calc(100vh - 44px - 62px);
  overflow: auto;
}

.footer {
  height: 62px;
  padding: 8px;
  border-top: solid 1px rgba(9,30,66,.12);
  box-shadow: 0 2px 4px rgb(18 52 77 / 6%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
}

.messageActions {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.userInfo {
  margin-left: 10px;
  width: 30%;
  height: 100%;
}

.userInfo .ant-card-body {
  padding-top: 0;
  padding-bottom: 0;
}

.ant-result-extra {
  display: flex;
  flex-direction: column;
}

.feedbacks-filter {
  color: rgba(0, 0, 0, 0.85);
  transition: all 0.3s;
}

.time {
  padding-right: 8px;
  font-size: 12px;
  line-height: 18px;
  color: #ccc;
  white-space: nowrap;
  cursor: auto;
  margin-bottom: 5px;
  line-height: 1.5715;
}

.timer-tag {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-style {
  font-size: 18px;
  /* color: #40a9ff; */
  cursor: pointer;
}

.row {
  display: flex;
  align-items: center;
}

.subscribe-list {
  position: relative;
  display: flex;
}

.unlock-content {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  backdrop-filter: blur(10px);
}

.flex {
  display: flex;
}

.settings {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 44px);
}

.customize {
  width: 70%;
  margin: 20px;
  margin-top: 0;
}

.customize-preview {
  width: 30%;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.site-page-header {
  border-bottom: 1px solid rgb(235, 237, 240);
}